.about-section .container{
    background-image: url(..//image/jpg/about-hero-coffe.jpg);
    background-size: 1280px 450px;
    background-repeat: no-repeat;
    background-position: left 20px center;
    padding-bottom: 175px;
    margin-top: 45px;
}

.hero{
    width: 505px;
    padding-left:85px;
    padding-top: 137px;
    text-align: left;
    color: #fff;
}

.hero__title{
    font-family: 'Fraunces','Arial',sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    }

.hero__paragraph{
    color: #FEFCF7;
    font-size:16px;
    line-height: 26px;
}