.footer .container{
    width: 1280px;
    display: flex;
    flex-direction: row;
    padding: 45px 20px;
    background-color: #2C343E;
}

.footer__logo__link{
    margin-left: 80px;
    margin-right: 103px;
}

.footer__item{
    margin-right: 32px;
}

.footer .list__item__link{
    color: #83888F;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;

    &:hover{
    color: #FEFCF7;
    }
}

.footer .nav{
    margin-right: 360px;
}

.footer .nav__list{
    padding-top: 7px;
    margin-top: 0;
}

.footer__link{
    margin-right: 24px;
}
