.plan-section .container{
    margin: 0 auto;
    text-align: center;
    background-image: url('..//..//image/jpg/creatplanx.jpg');
    background-size: 1280px 450px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 160px;
    margin-top: 100px;
}

.plan__box{
    padding-left: 90px;
    padding-top: 134px;
    padding-right: 710px;
    padding-bottom: 134px;
    text-align:left;
    color: #fff;
}

.plan__title{
    margin: 0;
    font-family: 'Fraunces','Arial',sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    white-space: nowrap;
    margin-bottom: 32px;
}
